@font-face {
    font-family: Andes;
    src: url(../font/Andes.ttf);
    font-weight: normal;
}

.site-branding {
  padding: 18em 0 5em 0 !important;
}

.wp-custom-header img {
  object-position: top center;
}

@media screen and (max-width: 900px) {
  .site-branding {
    padding: 18em 0 9em 0 !important;
  }
}


@media screen and (max-width: 768px) {
  .site-branding {
    padding: 5em 0 2em 0 !important;
  }
}

.site-title {
  font-family: Andes;
  text-transform: lowercase !important;
}
