/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .vms_registration_form {
  
   .vms_form_field {
     display: block;
     vertical-align: top;
     width: 100%;
     padding: 0.5rem 0;
     font-size: 1rem;
     box-sizing: border-box;

     input, select {
       width: 100%;
       margin: 0.25rem 0;
     }

     .vms_form_error {
       color: red;
       font-size: 0.875rem;
       min-height: 1rem;
       display: block;
     }

   }
}
