/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .vms_lock {
   overflow: hidden;
 }

 .vms_form {

   .vms_form_text {
     font-size: 1rem;
     margin-bottom: 1rem;
   }

   .vms_form_footer {
     margin: 2rem 0;
   }

   .vms_form_buttons {
     margin-top: 1.5rem;
   }

   .vms_form_field {
     display: block;
     text-align: left;
     vertical-align: top;
     width: 100%;
     padding: 0.25rem 0;
     font-size: 0.925rem;
     box-sizing: border-box;

     input, select {
       width: 100%;
       font-size: 0.875rem;
       padding: 0.375rem;
       margin: 0.25rem 0;
     }

     input[type="button"] {
       padding: 0.75em 2em;
     }

     .vms_date{
       font-size: 0;
       margin:  0 -5px;

        span {
          display: inline-block;
          width: 33.33%;
          box-sizing: border-box;
          padding: 0 5px;

          @media screen and (max-width: 480px){
            width: 100%;
          }
        }
      }

     .vms_form_error {
       display: block;
       color: red;
       font-size: 0.875rem;
       min-height: 1.275rem;
       visibility: hidden;

       &.visible {
         visibility: visible;
       }
     }

     &.textual {
       position: relative;

       input[type='checkbox'] {
         width: auto;
         transform:scale(1.5);
         position: absolute;
         top: 0.875rem;
         left: 0;
         margin: 0;
       }

       span {
         padding-left: 1.5rem;
         display: block;
       }
     }

     input[type="submit"] {
       margin-top: 1rem;
     }
   }

   @media screen and (max-width:480px) {

     .vms_form_text {
       font-size: 0.875rem;
       margin-bottom: 0.875rem;
     }

     .vms_form_field {
       font-size: 0.875rem;

       input, select {
         font-size: 0.875rem;
         padding: 0.25rem;
         margin: 0.25rem 0;
       }

       input[type="button"] {
         padding: 0.5em 1em;
       }

       .vms_form_error {
         font-size: 0.675rem;
         min-height: 0.875rem;
       }

       &.textual {

         input[type='checkbox'] {
           top: 0.75rem;
           left: 4px;
         }
       }

       input[type="submit"] {
         margin-top: 0.75rem;
       }
     }
   }
 }

 .vms_modal {
   display: none;
   position: fixed;
   z-index: 100;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.8);
   padding-top: 100px;

   &.visible {
     display: block;
   }

   .vms_modal_content {

     position: relative;
     background-color: #fefefe;
     color: black;
     margin: auto;
     max-width: 740px;
     padding: 2rem;
     border-radius: 0.25rem;
     width: 80%;
     font-size: 0.875rem;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     animation-name: animatetop;
     animation-duration: 0.4s;
     text-align: center;
     margin-bottom: 100px;

     p {
       a {
         color: black;
         text-decoration: underline;

         &:hover {
           color: #ccc;
         }
       }
     }

     .vms_modal_buttons {
       margin: 1rem 0;
     }

     .vms_modal_button,
     .vms_modal_submit_button {
       color: black;
       border: 1px solid #bbb;
       font-size: 0.875rem;
       margin:0 5px;
       padding: 0.75em 2em;
       line-height: normal;

       &:hover,
       &:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
      }

      @keyframes animatetop {
        from {top: -300px; opacity: 0}
        to {top: 0; opacity: 1}
      }
    }

    @media screen and (max-width:480px) {

      padding-top: 50px;

      .vms_modal_content {

        padding: 2rem 1rem;
        border-radius: 0.25rem;
        width: 90%;
        font-size: 0.75rem;
        margin-bottom: 50px;

        .vms_modal_buttons {
          margin: 0.75rem 0;
        }

        .vms_modal_button {
          font-size: 0.75rem;
          margin:0 5px;
          padding: 0.75em 2em;
        }
      }
    }
 }

 .vms_user_dashboard {

   position: relative;
   padding: 1rem 2rem;
   background-color: #333;
   border-radius: 0.5rem;
   border: 1px solid white;
   margin: 1rem 0;

   h1 {
     padding: 0;
   }

   table {
     font-size: 0.925rem;
   }

   td:nth-child(1){
     font-weight: 600;
   }

   .vms_user_dashboard_data {

     font-size: 0.925rem;
     margin-bottom: 1rem;

     .vms_user_dashboard_data_item {
       display: flex;
       padding: 0.4rem 0;
       border-bottom: 1px solid #575757;
     }

     .vms_user_dashboard_data_title {
       width: 250px;
       font-weight: 600;
     }

     .vms_user_dashboard_data_content {
       width: 100%;
     }

   }

   .vms_user_dashboard_buttons {

     button {
       display: block;

       width: 75%;

       padding: 0.675rem;
       font-size: 0.875rem;
       margin: 0.5rem auto;
     }

     .vms_logout_button {
       background-color: #e26868;
       color: white;

       &:hover {
         background-color: #c24848;
       }

       &:last-of-type {
         margin-top: 1rem;
       }
     }
   }

   @media screen and (max-width:560px) {

     padding: 1.5rem 1rem;
     margin: 0;

     h1 {
       font-size: 1.5rem;
     }

     .vms_user_dashboard_data {

       font-size: 0.875rem;
       margin-bottom: 1rem;

       .vms_user_dashboard_data_item {
         display: block;
         padding: 0.4rem 0;
         border-bottom: 1px solid #575757;
       }

       .vms_user_dashboard_data_title {
         width: 100%;
         font-size: 0.75rem;
         font-weight: 100;
       }

       .vms_user_dashboard_data_content {
         font-size: 1rem;
       }
     }

     .vms_user_dashboard_buttons {

       button {
         width: 100%;
         padding: 0.75rem 0.375rem;
         font-size: 0.75rem;
       }

       .vms_logout_button {
         right: 1rem;
       }
     }
   }
 }

 .vms_models_dashboard {
   padding: 2rem 1rem;
   background-color: #333;
   border-radius: 0.5rem;
   border: 1px solid white;
   margin: 1rem 0;

   h1 {
     padding: 0;
   }

   .vms_models_receipt {
     margin: 1rem 0;

     .vms_models_receipt_buttons {

       font-size: 0.815rem;
       color: #c24848;
       text-align: right;

       button {
         margin: 1rem 0;

         font-size: 0.875rem;
         padding: 0.675rem;

         &.red {
           color: white;
           background-color: #e26868;

           &:hover {
             background-color: #c24848;
           }
         }
       }

     }
   }

   .vms_models {

     .vms_model_item {
       border: 1px solid #575757;
       margin-bottom: 1rem;
       border-radius: 0.25rem;
     }

     .vms_model_title {
       font-size: 1.25rem;
       font-weight: bold;
       padding: 0.5rem;
       background-color: #575757;
       border-bottom: 1px solid #575757;
     }

     .vms_model_info {
       display: flex;
       padding: 0.4rem 0.5rem;
       border-bottom: 1px solid #575757;
       font-size: 0.925rem;

       &:last-of-type {
         border: none;
       }
     }

     .vms_model_info_title {
       width: 250px;
       font-weight: 600;
     }

     .vms_model_info_text {
       width: 100%;
     }

     .vms_model_buttons {
       padding: 1rem;
       text-align: right;

       button {
         font-size: 0.875rem;
         padding: 0.675rem;
       }

       .vms_delete_model_button {
         background-color: #e26868;
         color: white;

         &:hover {
           background-color: #c24848;
         }
       }
     }


     @media screen and (max-width:560px) {

       .vms_model_title {
         font-size: 1rem;
       }

       .vms_model_info {
         display: block;
       }

       .vms_model_info_title {
         font-size: 0.75rem;
         width: 100%;
         font-weight: 100;
       }

       .vms_model_buttons {

         button {
           display: block;
           width: 95%;
           margin: 0.5rem auto;
         }
       }
     }
   }

   .vms_models_dashboard_buttons {
     margin-top: 2rem;

     button {
       display: block;
       width: 75%;
       padding: 0.75rem;
       font-size: 0.875rem;
       margin: 0 auto;
     }
   }

   /*
   button {
     display: block;
     width: 90%;
     margin: 0.5rem auto;
     font-size: 0.875rem;
     padding: 0.675rem;
   }
   */
 }
