
.vms_lock{
  overflow: hidden;
}

.vms_admin_table {
  border-collapse: collapse;
  border: 2px solid black;
  width: 100%;
}

.vms_admin_table tr td:last-child {
  text-align: right;
  padding: 1rem;
}

.vms_admin_table tbody>tr:nth-child(odd){
  background-color: white;
}

.vms_admin_table > thead  th,
.vms_admin_table > tbody  td {
  padding: 0.5rem 1rem;
  text-align: center;
}

.vms_admin_buttons {
  margin: 1rem 0;
  text-align: right;
}

.vms_admin_modal {
  display: none;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
  padding-top: 100px;

  font-size: 12px;
}

.vms_admin_modal .vms_admin_modal_content {

  position: relative;
  background-color: #fefefe;
  color: black;
  margin: auto;
  max-width: 740px;
  padding: 2rem;
  border-radius: 0.25rem;
  width: 80%;
  font-size: 0.875rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
  margin-bottom: 100px;
}

.vms_admin_modal.visible {
  display: block;
}

.vms_admin_modal_buttons{
  margin: 1rem 0;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}


.vms_admin_form_text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.vms_admin_form_footer {
  margin: 2rem 0;
}

.vms_admin_form_field {
  display: block;
  text-align: left;
  vertical-align: top;
  width: 100%;
  padding: 0.25rem 0;
  font-size: 0.875rem;
  box-sizing: border-box;
}

.vms_admin_form_field input, select {
    width: 100%;
    font-size: 0.875rem;
    padding: 0.375rem;
    margin: 0.25rem 0;
  }

.vms_admin_form_field input[type="button"] {
    padding: 0.75em 2em;
  }

.vms_admin_form_error {
    display: block;
    color: red;
    font-size: 0.875rem;
    min-height: 1.275rem;
    visibility: hidden;
}

.vms_admin_form_error.visible {
  visibility: visible;
}
